# Uploads
/public_html/wp-content/uploads/
/public_html/wp-content/cache/
/public_html/wp-content/ssbhesabfa*
/public_html/error_log
/public_html/wp-admin/error_log
public_html/.idea/
public_html/wp-config.php
public_html/wp-content/object-cache.php
public_html/wp-content/advanced-cache.php

# Log files
*.log
*_log
/logs
/private_html
/public_ftp
/stats
.htpasswd
